.introducao-bg {
  background: var(--c12);
  box-shadow: inset 0 -120px var(--w);
}

.introducao {
  padding: 36px;
}

.introducao-conteudo {
  place-self: end;
  padding-bottom: 200px;
}

.introducao-img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao p {
  margin-top: 32px;
  margin-bottom: 20px;
  max-width: 512px;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.25rem;
  }

  .introducao-conteudo {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .introducao-conteudo p {
    max-width: 100%;
  }

  .introducao-conteudo a {
    place-self: end;
  }
}

@media (max-width: 500px) {
  .introducao-conteudo a {
    place-self: start;
  }
}
